@using ZkData
@model ZkData.Resource
@{
    var m = Model;
    Layout = "";
}

<style>
    .rating {
        width: 100%;
        margin-bottom: 1em;
    }

    .level {
        display: inline-block;
        width: 20%;
        text-align: center;
    }

    .level.selected {
        color: magenta;
    }

    .level.hover {
        color: red;
    }
</style>

<div class="rating">
    @* no space between divs to fix modern browser buggery *@
    <div class="level l1">
        <i class="fa"></i>
    </div><div class="level l2">
        <i class="fa"></i>
    </div><div class="level l3">
        <i class="fa"></i>
    </div><div class="level l4">
        <i class="fa"></i>
    </div><div class="level l5">
        <i class="fa"></i>
    </div>
</div>