@model ZeroKWeb.Models.CommentList
<div id="comments" class="forum">
	<form method="post" action="@Url.Action("SubmitPost", "Forum", Model.ActionData ?? new { threadID = Model.Thread.ForumThreadID })">
		<textarea name="text"></textarea>
		<input class="textbutton" type="submit" value="Submit Comment" />
		@*<span class="textbutton" data-preview="text">Preview</span>*@
	</form>
	@if (Model.Thread != null)
	{
		@Html.Action("GetPostList", "Forum", new { threadID = Model.Thread.ForumThreadID })
	}
</div>
