@model ZeroKWeb.Controllers.MapsController.MapIndexData
@using ZeroKWeb
@using ZkData
@{
    Page.Title = "Maps";
}

<script>
    $(document).ready(function () {
        InitToggleSwitch();
        InitResourceRating();
    });
</script>

<div id="summarytransition"></div>
<div id="maps" class="content">
    <div class="page-summary">
        @{ Html.RenderPartial("_MapSearch"); }
    </div>

    <div id="ajaxScrollTarget">
        @{Html.RenderPartial("MapTileList", Model.Latest);}
    </div>

    <div style="height: 1000px;" />

    @if (Global.Account != null)
    {
        <form action="@Url.Action("UploadResource")" enctype="multipart/form-data" method="post">
            Upload map or game (sd7 or sdz): <input type="file" name="file" accept=".sd7,.sdz"> <input type="submit" value="Upload" />
        </form>
    }

</div>
