
@{
    //Layout = "~/Views/Shared/_SiteLayout.cshtml";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Zero-K</title>
    <meta name="description" content="Zero-K is a FREE multiplatform, open-source RTS game which aims to be dynamic and action-packed." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href='@Href("~/img/favicon.png")' />
    <link rel="stylesheet/less" type="text/css" href="~/Styles/less/style.less" />
    <link rel="stylesheet/less" type="text/css" href="~/Styles/less/splash.less" />
    @System.Web.Optimization.Styles.Render("~/bundles/maincss")
    @System.Web.Optimization.Scripts.Render("~/bundles/main")
</head>
<body>
    <script>
        function downloadGame() {
            window.href = 'steam://run/334920';
        }
        var mouse_pos = {x: 0, y: 0};
        $(document).ready(function () {
            initCanvas("starlayer1", 10, 300);
            initCanvas("starlayer2", 50, 150);
        });
        $(document).mousemove(function (e) {
            mouse_pos = { x: e.pageX, y: e.pageY };
            positionCanvas("starlayer1", 10);
            positionCanvas("starlayer2", 50);

            //console.log(e.pageX, e.pageY,
            //    $(window).height(), $(window).width(),
            //    $(document).height(), $(document).width()
            //);
        });

        function getRandom(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        // generates starfield pattern on the provided canvas element
        function initCanvas(id, offset = 32, stars = 300) {

            // initialize canvas
            var c = $("#" + id)[0];
            var context = c.getContext("2d");
            c.width = c.offsetWidth;
            c.height = c.offsetHeight;
            positionCanvas(id, offset);

            // paint stars
            var colorrange = [0, 60, 240];
            for (var i = 0; i < stars; i++) {
                var x = Math.random() * c.offsetWidth,
                    y = Math.random() * c.offsetHeight,
                    radius = Math.random() * 1.2,
                    hue = colorrange[getRandom(0, colorrange.length - 1)],
                    sat = getRandom(50, 100);
                context.beginPath();
                context.arc(x, y, radius, 0, 360);
                context.fillStyle = "hsl(" + hue + ", " + sat + "%, 88%)";
                context.fill();
            }

        }

        // position canvas based on window size / mouse position
        function positionCanvas(id, offset = 32) {
            //var dh = $(document).height();
            //var dw = $(document).width();
            var wh = $(window).height();
            var ww = $(window).width();
            var dx = -offset * mouse_pos.x / ww;
            var dy = -offset * mouse_pos.y / wh;
            $("#" + id).css("width", ww + offset).css("left", dx).css("height", wh + offset).css("top", dy);
        }
    </script>
    @Html.Partial("Navigation")
    <div class="splash">
        <div class="hero">
            <canvas id="starlayer0"></canvas>
            <canvas id="starlayer1"></canvas>
            <canvas id="starlayer2"></canvas>
            <img src="~/img/zk_logo.png" />
            <input type="button" class="download" value="Download Now" onclick="downloadGame()" />
        </div>
        <div class="todo">
            steal all the cool stuff from:
            https://www.beyondallreason.info/
            https://robertsspaceindustries.com/
            https://www.klei.com/

        </div>
        <div class="stack">
            <div class="section">
                <div class="description">
                    <h1>DOMINATE</h1>
                    <h3>Rule the Battlefield</h3>
                    <ul>
                        <li>Huge multiplayer games
                        <li>Expansive singleplayer campaign
                        <li>Unlimited armies, giant mechs
                        <li>Terraform walls, ramps, and more
                    </ul>
                </div>
                <div class="preview">
                    <span class="todo">[video snippets of large battles, terraformed defenses, campaign scenarios, etc.]</span>
                    @*<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?mute=1;autoplay=1" frameborder="0"></iframe>*@
                    @*<img src="~/img/landing/dominate.png" />*@
                    <video autoplay loop style="height: 100%; width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Two_kittens_1_2017-06-21.webm"></video>
                    <img style="position: absolute; height: 100%; width: 100%; top: 0; left: 0; background: rgba(25, 250, 250, 0.2);" src="~/img/landing/border-mask-transparent.png" />
                </div>
            </div>
            <div class="section odd">
                <div class="description">
                    <h1>STAND OUT</h1>
                    <h3>Units are Unique and Useful</h3>
                    <ul>
                        <li>Units don't become obsolete</li>
                        <li>No hidden stat bonuses or penalties</li>
                        <li>Massive variety of weapons, abilities, and movement types</li>
                    </ul>
                </div>
                <div class="preview">
                    <span class="todo">[video snippets of fun stuff: lobster, space laser, placeholder, etc.]</span>
                    @*<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?mute=1;autoplay=1" frameborder="0"></iframe>*@
                    <img src="~/img/landing/standout.png" />
                </div>
            </div>
            <div class="section">
                <div class="description">
                    <h1>CONTROL</h1>
                    <h3>Powerful and Intuitive Interface</h3>
                    <ul>
                        <li>Skirmishing AI, auto groups, area commands, and more</li>
                        <li>Unique line move for perfect formations</li>
                        <li>Highly configurable interface</li>
                        <li>Set hotkeys to your heart's content</li>
                    </ul>
                </div>
                <div class="preview">
                    <span class="todo">[video snippets of raiders dodging shots, custom formations, fiddling with interface/widgets]</span>
                    @*<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?mute=1;autoplay=1" frameborder="0"></iframe>*@
                    <img src="~/img/landing/control.png" />
                </div>
            </div>
            <div class="section odd">
                <div class="description">
                    <h1>JOIN US</h1>
                    <h3>Made BY Players, FOR Players</h3>
                    <ul>
                        <li>No shady business practices</li>
                        <li>Labor of love from volunteers around the world</li>
                        <li>Developers actively respond to feedback</li>
                        <li>Free to play in the best way possible</li>
                    </ul>
                </div>
                <div class="preview">
                    <span class="todo">[video snippets of dominatrix, rezzed enemy units, quotes from players]</span>
                    @*<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?mute=1;autoplay=1" frameborder="0"></iframe>*@
                    <img src="~/img/landing/joinus.png" />
                </div>
            </div>
            <div class="download">
                <h1>DOWNLOAD</h1>
                <div>
                    Hmm... maybe in this section we could have the player sign up / link with steam and build out their first custom commander. Give a glimpse at customization options and unlocks to entice them further.
                </div>
            </div>
        </div>
    </div>
</body>
</html>