@import "colors.less";

.map-actions {
    position: absolute;
    left: 1em;
    right: 1em;
}
.map-action {
    i {
        margin-right: 0.5em;
    }
}
.map-action.playnow, .popularity {
    float: right;
}

#maps {
    background: @background;
    font-family: "Xolonium", sans-serif;
    padding: 1em;

    .map-search {
        /*background: linear-gradient(transparent 98%, fadeout(@highlight, 50%));*/
        /*box-shadow: inset -1px -1px 4px @highlight;*/
        /*border-bottom: 1px solid @highlight;*/
        .mapfilters {
            display: flex;
            justify-content: space-around;

            .filtergroup {
                width: 100%;
                padding: 1em;
                margin-left: auto;
                margin-right: auto;
                text-align: center;

                button {
                    display: inline-block;
                    background: rgba(0,0,0,0.5);
                    color: gray;
                    border: 1px solid black;
                }
            }
        }

        .filtertag {
            font-size: small;
            font-weight: normal;
            font-family: "Open-Sans", sans-serif;
            vertical-align: middle;
        }

        @media screen and (max-width: 700px) {
            .mapfilters {
                flex-direction: column;
            }
        }
    }

    #ajaxScrollTarget {
        margin-top: 1em;
    }
}

#mapdetail {
    h1, .author, .tags, #map-preview {
        text-align: center;
    }

    .map-description {
        padding: 1em;
    }

    #map-preview, .texture, .heightmap, .texture img, .heightmap img {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .texture, .heightmap {
        display: inline-block;
        cursor: pointer; // crosshair

        @media screen and (max-width: 800px) {
            img {
                max-width: 80%;
            }
        }
    }

    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.5em 0em;
    }

    .tag {
        background: @background;
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em;
    }
}