@import "colors.less";

#summarytransition {

}

.page-summary {
    display: none;
    background: rgba(0,0,0,0.8);
    width: 100%;
    padding: 1em;

    @media screen and (max-width: 600px) {
        .full-text {
            display: none;
        }
    }
}

.summary-affixed {
    display: inherit;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.map-action {
    i {
        margin-right: 0.5em;
    }
}
.map-action.playnow, .popularity {
    float: right;
}

#maps {
    background: @background;
    font-family: "Xolonium", sans-serif;
    padding: 1em;

    .mapfilters {
        display: flex;
        justify-content: space-around;
        background: rgba(0,0,0,0.5);
        padding: 1em;
        border: 2px solid @highlight;
        margin-bottom: 1em;

        h1, h2, h3 {
            margin-bottom: 0.5em;
            text-align: center;
        }

        .switch3 {
            margin-bottom: 1em;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .filtergroup {
        width: 20em;
        text-align: center;

        button {
            display: inline-block;
            background: rgba(0,0,0,0.5);
            color: gray;
            border: 1px solid black;
        }
    }

    @media (max-width: 800px) {
        .mapfilters {
            flex-direction: column-reverse;
            .filtergroup {
                width: 100%;
            }
        }
    }
}

#mapdetail {
    h1, .author, .tags, #map-preview {
        text-align: center;
    }

    #map-preview, .texture, .heightmap, .texture img, .heightmap img {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .texture, .heightmap {
        display: inline-block;
        cursor: pointer;

        @media screen and (max-width: 800px) {
            img {
                max-width: 80%;
            }
        }
    }

    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.5em 0em;
    }

    .tag {
        background: @background;
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em;
    }
}