@using ZeroKWeb
@using ZkData
@model ZkData.ForumPost
@{
    Page.Title =  Model.ForumThread.WikiKey;
    ViewBag.StaticBackground = true;
    ViewBag.OpaqueBody = true;
}
<h1>@Model.ForumThread.Title</h1>
@Html.BBCodeCached(Model)

@if (Model.CanEdit(Global.Account))
{
    <br/>
    <a href="@Url.Action("NewPost", "Forum", new { threadID = Model.ForumThreadID, forumPostID = Model.ForumPostID })" class="textbutton">
        <i class="fa fa-edit"></i> Edit
    </a>
    <span>&nbsp;<b>[@Model.ForumThread.WikiKey]</b></span>
}
